# RPC Settings
VITE_RPC_URL_MAINNET=https://cloudflare-eth.com
VITE_RPC_URL_GOERLI=https://rpc.ankr.com/eth_goerli

# WalletConnect Cloud
VITE_WALLET_CONNECT_PROJECT_ID=your_project_id_here

# 3rd Party APIs
VITE_CHANGENOW_API_KEY=your_changenow_api_key

# Features
VITE_ENABLE_ANALYTICS=false
